.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}
.wrapper {
    width: 400px; 
    margin: 0 auto;
}
.bg-white { 
    background-color: #fff;
}
.header{
    height: 100px;
    background-color: #141f40;
}
.header-inner{
    width: 160px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 220px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.box-left{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: left;
}
.box-center{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: left; 
    margin-left: 10px;
    margin-right: 10px;
}
.box-right{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: left;
}
.contents{
    height: 250px;
}
.left{
    width: 150px;
    height: 250px;
    float: left;
    background-color: #80bfa8;
}
.right{
    width: 250px;
    height: 250px;
    float: right;
    background-color: #8c2727;
}
.right-top{
    width: 140px;
    height: 40px;
    border: 5px solid; 
    border-color: white;
    background-color: #ff863f;
    position: relative;
    top: 40px;
    left: 40px;
}
.right-center{
    width: 140px;
    height: 40px;
    border: 5px solid; 
    border-color: white;
    background-color: #ff863f;
    position: relative;
    top: 50px;
    left: 40px;
}
.right-bottom{
    width: 140px;
    height: 40px;
    border: 5px solid; 
    border-color: white;
    background-color: #ff863f;
    position: relative;
    top: 60px;
    left: 40px;
}
.footer{
    height: 100px;
    background-color: #d98d30;
}